/* stylelint-disable no-descending-specificity */
html {
  box-sizing: border-box;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li,
h1,
h2,
h3,
p,
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 0.5rem;
}

li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #868686;
  border-right: 0.1rem solid #868686;
  padding-right: 0.3rem;
  transition: all 0.5s ease;
}

li a:hover {
  border: none;
  background-color: #868686;
  padding: 0.3rem;
  cursor: pointer;
  color: #fff;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #868686;
}

.display {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  background-color: #868686;
  color: #fff;
  padding: 1rem;
  text-align: end;
}

.Home h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #868686;
  margin: 1rem;
}

.Home p {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #868686;
  font-weight: 500;
}

.App h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2rem;
  color: #868686;
}

.calculator {
  width: 40%;
  margin: 4rem auto 0 auto;
}

.operators button {
  width: 25%;
  height: 2.5rem;
  background-color: #dadada;
  border: 0.1rem solid #000;
  font-size: 1.2rem;
}

.operators button:last-of-type {
  background-color: #f29a41;
}

.numbers1 button {
  width: 25%;
  height: 2.5rem;
  background-color: #dadada;
  border: 0.1rem solid #000;
  font-size: 1.2rem;
}

.numbers1 button:last-of-type {
  background-color: #f29a41;
}

.numbers2 button {
  width: 25%;
  height: 2.5rem;
  background-color: #dadada;
  border: 0.1rem solid #000;
  font-size: 1.2rem;
}

.numbers2 button:last-of-type {
  background-color: #f29a41;
}

.numbers3 button {
  width: 25%;
  height: 2.5rem;
  background-color: #dadada;
  border: 0.1rem solid #000;
  font-size: 1.2rem;
}

.numbers3 button:last-of-type {
  background-color: #f29a41;
}

.numbers4 button {
  width: 25%;
  height: 2.5rem;
  background-color: #dadada;
  border: 0.1rem solid #000;
  font-size: 1.2rem;
}

.numbers4 button:first-of-type {
  width: 50%;
}

.numbers4 button:last-of-type {
  background-color: #f29a41;
}

.content {
  padding: 1rem;
}

.theQuote {
  font-size: 1.5rem;
  font-weight: 500;
  color: #868686;
}

.theAuthor {
  font-size: 1.6rem;
  font-weight: 700;
  color: #535353;
}
